{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <h1 class="text-center">{{ _('Bem-vindo ao Dados Livres') }}</h1>
  <p class="text-center">{{ _('Entre para o Dados Livres e ajude colaborando com
    diversas fontes e aplicações em dados abertos.') }}</p><br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-3"></div>
  </div><br><br>
  <p class="text-center">
    <a href="{{ url_for( 'auth.register_request' ) }}" id="color-red">
      {{_('Novo, por aqui? Inscreva-se.')}}</a></p>
  <p class="text-center">
    <a href="{{ url_for( 'auth.reset_password_request' ) }}" id="color-red">
    {{_('Esqueceu a senha?')}}</a></p>
{% endblock %}
