{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% if source.title %}{{ source.title }}{% endif %}</h1><br>
        <p>{{_('Categoria')}}: {% for category in source.categories %}
        {{ category }}</p>{% endfor %}{% if source.sphere %}<p>{{_('Esfera')}}:
        {{ source.sphere }}</p>{% endif %}{% if source.country %}<p>
        {{_('País')}}: {{source.country}}</p>{% endif %}{% if source.state %}
        <p>{{_('Estado')}}: {{source.state}}</p>{% endif %}{% if source.city %}
        <p>{{_('Município')}}: {{source.city}}</p>{% endif %}
        <p>{{_('Palavras-Chaves')}}: {% for tag in source.tags %}{{ tag }}</p>
        {% endfor %}<p>{% if source.description %}{{ source.description }}</p>{% endif %}<br>
        {% if source.user_id == current_user.id %}
          <p><a href="{{ url_for('main.edit_source', id=source.id) }}" id="color-red">{{_('Editar fonte')}}</a> |
            <a href="{{ url_for('main.deletar_source', id=source.id) }}" id="color-red">{{_('Apagar fonte')}}</a></p>
        {% endif %}
        <br><h4><a href="{{ source.officialLink }}" id="buttonPerfil" target="_blank">{{_('Visitar página oficial')}}</a><h4><br>
        <h4><hr>{{_('Fonte registrada por')}}:
          <a href="{{ url_for('main.user', nickname=source.author.nickname ) }}" id="color-red">
            @{{ source.author.nickname }}</a><hr></h4>
    </div>
  </div><br>
{% endblock %}
